# Angular build output
/dist
/tmp
/out-tsc
/.angular

# Dependencies
/node_modules

# Cypress output
/cypress/screenshots
/cypress/videos

# Environment files
/src/environments/*.ts

# Ignore __pycache__ directory and all .pyc files
__pycache__/
*.pyc

# build directories
dist/

# Database file
db.sqlite3
backend/flask-todo/instance/*.db

# Migration files
*/migrations/*.py
!*/migrations/__init__.py

# Add Virtual Environment
venv/

# IDE/editor specific files
.idea/
.vscode/
*.sublime-workspace

# Logs and temporary files
*.log
*.tmp
*.swp

# Stores environment variables (such as API secrets)
.env

# System files
.DS_Store
Thumbs.db

# Ignoring Cypress test examples
NotBug-Tasks/frontend/cars-app/cars-app/cypress/e2e/1-getting-started
NotBug-Tasks/frontend/cars-app/cars-app/cypress/e2e/2-advanced-examples