# Ignoruj moduły js/ts
node_modules/

# Ignoruj katalog __pycache__ oraz wszystkie pliki .pyc
__pycache__/
*.pyc

# katalogi buildów
dist/

# Plik bazy danych
db.sqlite3

# Pliki migracji
*/migrations/*.py
!*/migrations/__init__.py